<!--ΒΑΣΙΚΑ ΣΤΟΙΧΕΙΑ ΣΕΛ.8-->
<h2>
    ΒΑΣΙΚΑ ΣΤΟΙΧΕΙΑ
    <md-button class="md-icon-button contentbtn" ng-click="c.showAlert(0)">
        <i style="display:block;text-align:center" class="material-icons">help_outline</i>
    </md-button>
</h2>
<label><span ng-show="c.data.company.businessType==c.businessTypes[1]">Σύντομο ιστορικό και στόχοι - όραμα της επιχείρησης</span><span ng-show="c.data.company.businessType==c.businessTypes[0]">Εισαγωγή σχεικά με τη γέννηση της επιχειρηματικής ιδέας και του οράματος του/των δυνητικού/ων επιχειρηματία/ων</span></label>
<text-angular ng-model="c.data.description.basicInfo" rows="5" md-select-on-focus></text-angular>
<h2>
    ΕΔΡΑ ΤΗΣ ΕΠΙΧΕΙΡΗΣΗΣ
    <md-button class="md-icon-button contentbtn" ng-click="c.showAlert(1)">
        <i style="display:block;text-align:center" class="material-icons">help_outline</i>
    </md-button>
</h2>
    <label>Σύντομη περιγραφή της υφιστάμενης ή μελλοντικής έδρας και τυχόν παραρτημάτων της επιχείρησης</label>
    <text-angular ng-model="c.data.description.locationInfo" rows="5" md-select-on-focus></text-angular>
<h2>
    ΜΕΤΟΧΙΚΗ ΣΥΝΘΕΣΗ ΚΑΙ ΠΡΟΣΩΠΙΚΟ
    <md-button class="md-icon-button contentbtn" ng-click="c.showAlert(2)">
        <i style="display:block;text-align:center" class="material-icons">help_outline</i>
    </md-button>
</h2>
    <label>Περιγραφή του/των εταίρου / εταίρων</label>
    <text-angular ng-model="c.data.description.shareholderInfo" rows="5" md-select-on-focus></text-angular>

<div ng-show="c.data.company.businessType==c.businessTypes[1]">
    <h2>Επιπεδο Εκπαιδευσης Εργαζομενων Τελευταιας Τριετιας</h2>
    <div ng-show="!c.data.educationLevels.years">
        <md-input-container>
            <label>Εισάγετε Χρονιά</label>
            <input ng-model="c.data.educationLevels.yearEdLvl">
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="c.generate(c.data.educationLevels.yearEdLvl)">Δημιουργια Πινακων</md-button>
    </div>
    <table class="table" ng-repeat="e in c.data.educationLevels.years" ng-init="pos=$index">
        <thead id="table_head">
            <tr>
                <th>{{e.year}}</th>
                <th>Πλήθος Εργαζομένων</th>
                <th>Επίπεδο Εκπαίδευσης</th>
                <th>Ειδικότητα</th>
                <td>Διαγραφή</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="singleYear in c.data.educationLevels.years[$index].yearData">
                <td id="table_content"><strong>{{$index+1}}η Κατηγορία</strong></td>
                <td>
                    <md-input-container class="md-block">
                        <input type="number" aria-label="2017" ng-model="singleYear.employeesCount">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container class="md-block">
                        <label>Επιλογή</label>
                        <md-select ng-model="singleYear.employeesEducation">
                            <md-option ng-repeat="e in c.educationLevel" value="{{e}}">
                                {{e}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
                <td>
                    <md-input-container class="md-block">
                        <label>Επιλογή</label>
                        <md-select ng-model="singleYear.employeesSpecialization">
                            <md-option ng-repeat="s in c.specialty" value="{{s}}">
                                {{s}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
                <td style="text-align:center" id="table_content">
                    <md-button ng-click="c.remove(c.data.educationLevels.years[pos].yearData,$index)" class="md-fab md-mini md-primary" aria-label="remove">
                        <i style="display:block;text-align:center" class="material-icons">remove</i>
                    </md-button>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <md-button ng-click="c.addYearData($index)" class="md-fab md-mini md-primary" aria-label="add">
                        <i style="display:block;text-align:center" class="material-icons">add</i>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr />

<h2>
    ΠΕΡΙΓΡΑΦΗ ΠΑΡΑΓΟΜΕΝΩΝ ΠΡΟΪΟΝΤΩΝ /ΥΠΗΡΕΣΙΩΝ
    <md-button class="md-icon-button contentbtn" ng-click="c.showAlert(3)">
        <i style="display:block;text-align:center" class="material-icons">help_outline</i>
    </md-button>
</h2>
    <label>Περιγράψτε αναλυτικά και με κατανοητό τρόπο τα προϊόντα/υπηρεσίες σας, τις ανάγκες που καλύπτουν, την ιδιαιτερότητα-πλεονεκτήματα τους σε σχέση με αυτά του ανταγωνισμού.</label>
    <text-angular ng-model="c.data.description.productsInfo" rows="5" md-select-on-focus></text-angular>
<h2>
    ΣΥΝΟΠΤΙΚΗ ΠΑΡΟΥΣΙΑΣΗ ΤΗΣ ΠΑΡΑΓΩΓΙΚΗΣ ΔΙΑΔΙΚΑΣΙΑΣ
    <md-button class="md-icon-button contentbtn" ng-click="c.showAlert(29)">
        <i style="display:block;text-align:center" class="material-icons">help_outline</i>
    </md-button>
</h2>
    <label>Αναφέρετε τον τρόπο παραγωγής των προϊόντων – διάθεσης των υπηρεσιών της επιχείρησης σας.</label>
    <text-angular ng-model="c.data.description.manufacturingProcess" rows="5" md-select-on-focus></text-angular>
<h2>
    Η ΑΓΟΡΑ ΣΤΟΧΟΣ
    <md-button class="md-icon-button contentbtn" ng-click="c.showAlert(4)">
        <i style="display:block;text-align:center" class="material-icons">help_outline</i>
    </md-button>
</h2>
    <label>Αναφέρετε στοιχεία και τάσεις της τοπικής, εθνικής και διεθνούς αγοράς (στην οποία στοχεύετε).</label>
    <text-angular ng-model="c.data.description.targetsInfo" rows="5" md-select-on-focus></text-angular>
<h2>
    ΑΝΑΛΥΣΗ ΑΝΤΑΓΩΝΙΣΜΟΥ
    <md-button class="md-icon-button contentbtn" ng-click="c.showAlert(5)">
        <i style="display:block;text-align:center" class="material-icons">help_outline</i>
    </md-button>
</h2>
    <label>Αναφέρετε τους βασικούς ανταγωνιστές της επιχείρησης.</label>
    <text-angular ng-model="c.data.description.competitionAnalysis" rows="5" md-select-on-focus></text-angular>
<h2>ΑΝΑΛΥΣΗ SWOT (Δυναμεις, Αδυναμιες, Ευκαιριες και Απειλες)</h2>

    <label>Δυνάμεις</label>
    <text-angular ng-model="c.data.description.swot.strengths" rows="5" md-select-on-focus></text-angular>
<br />
    <label>Αδυναμίες</label>
    <text-angular ng-model="c.data.description.swot.weaknesses" rows="5" md-select-on-focus></text-angular>
<br />
    <label>Ευκαιρίες</label>
    <text-angular ng-model="c.data.description.swot.opportunities" rows="5" md-select-on-focus></text-angular>
<br />
    <label>Απειλές</label>
    <text-angular ng-model="c.data.description.swot.threats" rows="5" md-select-on-focus></text-angular>
