<!--ΔΙΕΥΘΥΝΣΗ ΕΔΡΑΣ-->
<div>
    <h3 style="text-align:center">ΣΤΟΙΧΕΙΑ ΤΑΥΤΟΤΗΤΑΣ ΕΠΙΧΕΙΡΗΣΗΣ</h3>
    <hr />
    <table style="width:90%;margin:auto" class="table">
        <tr>
            <th style="background-color:#EEEEEE;">ΠΕΡΙΦΕΡΕΙΑ: </th>
            <td>
                <md-input-container class="md-block">
                    <label>Επιλογή</label>
                    <md-select ng-model="c.data.company.District">
                        <md-option ng-repeat="g1 in c.geo1" value="{{g1.Place}}">
                            {{g1.Place}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </td>
        </tr>
        <tr>
            <th style="background-color:#EEEEEE;">ΠΕΡΙΦΕΡΕΙΑΚΗ ΕΝΟΤΗΤΑ: </th>
            <td>
                <md-input-container class="md-block">
                    <label>Επιλογή</label>
                    <md-select ng-disabled="!c.data.company.District" ng-model="c.data.company.RegionalUnity">
                        <md-option ng-repeat="g1 in c.geo2 | filter: {Parent:c.data.company.District}" value="{{g1.Place}}">
                            {{g1.Place}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </td>
        </tr>
        <tr>
            <th style="background-color:#EEEEEE;">ΔΗΜΟΣ – ΚΟΙΝΟΤΗΤΑ: </th>
            <td>
                <md-input-container class="md-block">
                    <label>Επιλογή</label>
                    <md-select ng-disabled="!c.data.company.RegionalUnity" ng-model="c.data.company.Commune">
                        <md-option ng-repeat="g1 in c.geo3 | filter: {Parent: c.data.company.RegionalUnity}" value="{{g1.Place}}">
                            {{g1.Place}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </td>
        </tr>
        <!--<tr>
            <th style="background-color:#EEEEEE;">ΔΗΜΟΤΙΚΟ ΔΙΑΜΕΡΙΣΜΑ: </th>
            <td>
                <md-input-container class="md-block">
                    <label>Επιλογή</label>
                    <md-select ng-model="c.data.company.MunicipalDistrict">
                        <md-option value="test">
                            test
                        </md-option>
                    </md-select>
                </md-input-container>
            </td>
        </tr>-->
        <tr>
            <th  style="background-color:#EEEEEE;" rowspan="3">ΔΙΕΥΘΥΝΣΗ ΕΔΡΑΣ: </th>
            <td>
                <md-input-container class="md-block">
                    <label>ΟΔΟΣ – ΑΡΙΘΜΟΣ</label>
                    <input ng-model="c.data.company.Adress">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class="md-block">
                    <label>ΤΟΠΟΘΕΣΙΑ</label>
                    <input ng-model="c.data.company.Location">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class="md-block">
                    <label>ΤΑΧ. ΚΩΔΙΚΟΣ</label>
                    <input ng-model="c.data.company.PostalCode">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <th style="background-color:#EEEEEE;">ΤΗΛΕΦΩΝΟ ΕΠΙΚΟΙΝΩΝΙΑΣ: </th>
            <td>
                <md-input-container class="md-block">
                    <label>Εισαγωγή</label>
                    <input ng-model="c.data.company.Phone">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <th style="background-color:#EEEEEE;">FAX: </th>
            <td>
                <md-input-container class="md-block">
                    <label>Εισαγωγή</label>
                    <input ng-model="c.data.company.Fax">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <th style="background-color:#EEEEEE;">Ιστοσελίδα (Website)</th>
            <td>
                <md-input-container class="md-block">
                    <label>Εισαγωγή</label>
                    <input ng-model="c.data.company.Website">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <th style="background-color:#EEEEEE;">Ηλεκτρονική Διεύθυνση (e-mail): </th>
            <td>
                <md-input-container class="md-block">
                    <label>Εισαγωγή</label>
                    <input ng-model="c.data.company.Email">
                </md-input-container>
            </td>
        </tr>
    </table>
</div>