<!--ΔΙΕΥΘΥΝΣΗ ΕΔΡΑΣ-->
<div>
    <h3 style="text-align:center">ΣΤΟΙΧΕΙΑ ΤΑΥΤΟΤΗΤΑΣ ΕΠΙΧΕΙΡΗΣΗΣ</h3>
    <hr />
    <table id="address" style="margin:auto">
        <tr>
            <th>ΠΕΡΙΦΕΡΕΙΑ: </th>
            <td>
                <md-input-container class="md-block">
                    <label>Επιλογή</label>
                    <md-select ng-model="c.data.company.District">
                        <md-option value="test">
                            test
                        </md-option>
                    </md-select>
                </md-input-container>
            </td>
        </tr>
        <tr>
            <th>ΠΕΡΙΦΕΡΕΙΑΚΗ ΕΝΟΤΗΤΑ: </th>
            <td>
                <md-input-container class="md-block">
                    <label>Επιλογή</label>
                    <md-select ng-model="c.data.company.RegionalUnity">
                        <md-option value="test">
                            test
                        </md-option>
                    </md-select>
                </md-input-container>
            </td>
        </tr>
        <tr>
            <th>ΔΗΜΟΣ – ΚΟΙΝΟΤΗΤΑ: </th>
            <td>
                <md-input-container class="md-block">
                    <label>Επιλογή</label>
                    <md-select ng-model="c.data.company.Commune">
                        <md-option value="test">
                            test
                        </md-option>
                    </md-select>
                </md-input-container>
            </td>
        </tr>
        <tr>
            <th>ΔΗΜΟΤΙΚΟ ΔΙΑΜΕΡΙΣΜΑ: </th>
            <td>
                <md-input-container class="md-block">
                    <label>Επιλογή</label>
                    <md-select ng-model="c.data.company.MunicipalDistrict">
                        <md-option value="test">
                            test
                        </md-option>
                    </md-select>
                </md-input-container>
            </td>
        </tr>
        <tr>
            <th rowspan="3">ΔΙΕΥΘΥΝΣΗ ΕΔΡΑΣ: </th>
            <th style="text-align:right;">ΟΔΟΣ – ΑΡΙΘΜΟΣ:</th>
            <td>
                <md-input-container class="md-block">
                    <label>Εισαγωγή</label>
                    <input ng-model="c.data.company.Adress">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <th style="text-align:right;">ΤΟΠΟΘΕΣΙΑ: </th>
            <td>
                <md-input-container class="md-block">
                    <label>Εισαγωγή</label>
                    <input ng-model="c.data.company.Location">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <th style="text-align:right;">ΤΑΧ. ΚΩΔΙΚΟΣ: </th>
            <td>
                <md-input-container class="md-block">
                    <label>Εισαγωγή</label>
                    <input ng-model="c.data.company.PostalCode">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <th>ΤΗΛΕΦΩΝΟ ΕΠΙΚΟΙΝΩΝΙΑΣ: </th>
            <td>
                <md-input-container class="md-block">
                    <label>Εισαγωγή</label>
                    <input ng-model="c.data.company.Phone">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <th>FAX: </th>
            <td>
                <md-input-container class="md-block">
                    <label>Εισαγωγή</label>
                    <input ng-model="c.data.company.Fax">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <th>Ιστοσελίδα (Website)</th>
            <td>
                <md-input-container class="md-block">
                    <label>Εισαγωγή</label>
                    <input ng-model="c.data.company.Website">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <th>Ηλεκτρονική Διεύθυνση (e-mail): </th>
            <td>
                <md-input-container class="md-block">
                    <label>Εισαγωγή</label>
                    <input ng-model="c.data.company.Email">
                </md-input-container>
            </td>
        </tr>
    </table>
</div>