<div>
    <h2>
        ΑΝΑΛΥΣΗ ΥΦΙΣΤΑΜΕΝΗΣ ΟΙΚΟΝΟΜΙΚΗΣ ΚΑΤΑΣΤΑΣΗΣ
        <md-button class="md-icon-button contentbtn" ng-click="c.showAlert(17)">
            <i style="display:block;text-align:center" class="material-icons">help</i>
        </md-button>
    </h2>
    <p>
        <md-input-container>
            <label>Εισάγετε Έτος:</label>
            <input type="number" name="year" value="" ng-model="c.data.yearSelectedForTable" />
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="c.createRows(c.data.yearSelectedForTable,c.data.company.nuberOfCompletedYears)">Δημιουργια Πινακα</md-button>
    </p>
    <table class="table" ng-show="c.data.company.businessType==c.businessTypes[1]&&c.clicked==true">
        <thead>
            <tr style="background-color:#3949AB;color:#D3D6EC;">
                <th>Έτος</th>
                <th ng-repeat="k in c.data.xronia">{{k}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in c.data.totals">
                <th style="background-color:#EEEEEE;" layout="row" layout-align=" center">
                    <i flex="10" ng-if="x.hint" class="material-icons" ng-click="c.showAlert(x.hint)">help_outline</i>
                    <span flex="90">
                        {{x.title}}
                    </span>
                </th>
                <td ng-if="!x.formula" ng-repeat="y in x.values track by $index">
                    <md-input-container class="md-block">
                        <input aria-label="values" type="number" ng-model="x.values[$index]" />
                    </md-input-container>
                </td>
                <td style="background-color:#9E9E9E;" ng-if="x.formula" ng-repeat="y in x.values track by $index">
                    <span>{{x.formula($index)|number:2}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>