<h2>Συντομο Επιχειρηματικο Σχεδιο – Elevator Pitch</h2>
<hr />
<h3 style="text-align:center">
    Ποιοι είμαστε και που στοχεύουμε
    <md-button class="md-icon-button contentbtn" ng-click="c.showAlert(30)">
        <i style="display:block;text-align:center" class="material-icons">help_outline</i>
    </md-button>
</h3>
<label>Πληκτρολογήστε το κείμενό σας</label>
<text-angular ng-model="c.data.elevatorpitch.target" rows="5" md-select-on-focus></text-angular>
<h3 style="text-align:center">
    Τι πουλάμε
    <md-button class="md-icon-button contentbtn" ng-click="c.showAlert(31)">
        <i style="display:block;text-align:center" class="material-icons">help_outline</i>
    </md-button>
</h3>
<label>Πληκτρολογήστε το κείμενό σας</label>
<text-angular ng-model="c.data.elevatorpitch.sale" rows="5" md-select-on-focus></text-angular>
<h3 style="text-align:center">
    Σε ποιους πουλάμε
    <md-button class="md-icon-button contentbtn" ng-click="c.showAlert(32)">
        <i style="display:block;text-align:center" class="material-icons">help_outline</i>
    </md-button>
</h3>
<label>Πληκτρολογήστε το κείμενό σας</label>
<text-angular ng-model="c.data.elevatorpitch.saletarget" rows="5" md-select-on-focus></text-angular>
<h3 style="text-align:center">
    Σύνοψη οικονομικών στοιχείων
    <md-button class="md-icon-button contentbtn" ng-click="c.showAlert(33)">
        <i style="display:block;text-align:center" class="material-icons">help_outline</i>
    </md-button>
</h3>
<label>Πληκτρολογήστε το κείμενό σας</label>
<text-angular ng-model="c.data.elevatorpitch.sumeconomics" rows="5" md-select-on-focus></text-angular>
