<div>
    <h2>ΑΝΑΛΥΣΗ ΠΩΛΗΣΕΩΝ-ΕΣΟΔΩΝ ΚΑΙ ΕΞΟΔΩΝ ΣΕ ΒΑΘΟΣ ΤΡΙΕΤΙΑΣ</h2>
    <hr />
    <h3 id="title">ΕΣΟΔΑ</h3>
    <table class="table">
        <thead id="table_head">
            <tr>
                <th>Όνομα Προϊόντος/Υπηρεσίας</th>
                <th>Τιμή Προϊόντος ή υπηρεσίας</th>
                <th>Τεκμηρίωση τιμής μονάδας</th>
                <th>Προβλεπόμενη ποσότητα πωληθέντων 1ου έτους</th>
                <th>Έσοδα 1ου έτους</th>
                <th>Προβλεπόμενη ποσότητα πωληθέντων 2ου έτους</th>
                <th>Έσοδα 2ου έτους</th>
                <th>Προβλεπόμενη ποσότητα πωληθέντων 3ου έτους</th>
                <th>Έσοδα 3ου έτους</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="income in c.data.incomes">
                <td>
                    <md-tooltip ng-show="income.name" md-direction="bottom">{{income.name}}</md-tooltip>
                    <md-input-container class="md-block">
                        <input aria-label="enter" type="text" ng-model="income.name" />
                    </md-input-container>
                </td>
                <td>
                    <md-input-container class="md-block">
                        <input aria-label="enter" type="number" ng-model="income.value" />
                    </md-input-container>
                </td>
                <td>
                    <md-tooltip ng-show="income.description" md-direction="bottom">{{income.description}}</md-tooltip>
                    <md-input-container class="md-block">
                        <input aria-label="enter" type="text" ng-model="income.description" />
                    </md-input-container>
                </td>
                <td>
                    <md-input-container class="md-block">
                        <input aria-label="enter" type="number" ng-model="income.predictionFirst" />
                    </md-input-container>
                </td>
                <td id="table_content"><span />{{income.incomesFirstYear}}</td>
                <td>
                    <md-input-container class="md-block">
                        <input aria-label="enter" type="number" ng-model="income.predictionSecond" />
                    </md-input-container>
                </td>
                <td id="table_content"><span />{{income.incomesSecondYear}}</td>
                <td>
                    <md-input-container class="md-block">
                        <input aria-label="enter" type="number" ng-model="income.predictionThird" />
                    </md-input-container>
                </td>
                <td id="table_content"><span />{{income.incomesThirdYear}}</td>
                <td id="table_content">
                    <md-button class="md-fab md-mini md-primary" ng-click="c.remove(c.data.incomes,$index)">
                        <i style="display:block;text-align:center" class="material-icons">remove</i>
                    </md-button>
                </td>
            </tr>
            <tr>
                <td colspan="10">
                    <md-button class="md-raised md-primary" ng-click="c.add('incomes',{value:0,predictionFirst:0,predictionSecond:0,predictionThird:0})">
                        Προσθηκη Νεου
                    </md-button>
            </tr>
            <tr id="table_result">
                <th>Συνολικά Έσοδα (Πωλήσεις)</th>
                <td></td>
                <td></td>
                <td></td>
                <th>{{c.data.sumIncomesFirstYear|number:2}}</th>
                <td></td>
                <th>{{c.data.sumIncomesSecondYear|number:2}}</th>
                <td></td>
                <th>{{c.data.sumIncomesThirdYear|number:2}}</th>
                <td></td>
            </tr>
        </tbody>
    </table>
    <hr />
    <!--ΔΑΠΑΝΕΣ-->
    <h3 id="title">ΔΑΠΑΝΕΣ</h3>
    <table class="table">
        <thead id="table_head">
            <tr>
                <th>Α/Α</th>
                <th>ΚΑΤΗΓΟΡΙΑ ΔΑΠΑΝΗΣ</th>
                <th>ΠΕΡΙΓΡΑΦΗ</th>
                <th>Έξοδα 1ου έτους (€)</th>
                <th>Έξοδα 2ου έτους (€)</th>
                <th>Έξοδα 3ου έτους (€)</th>
                <th></th>
            </tr>
        </thead>
        <tr ng-repeat="expense in c.data.expenses">
            <td id="table_content" ng-model="expense.index"><p>{{$index+1}}</p></td>
            <td>
                <md-input-container class="md=block">
                    <md-select style="width:300px;" aria-label="category" ng-model="expense.category">
                        <md-option ng-repeat="(kat, cat) in c.katDapanes" value="{{kat}}">{{kat}}</md-option>
                    </md-select>
                </md-input-container>
            </td>
            <td>
                <md-input-container class="md=block">
                    <md-select style="width:300px;" aria-label="desc" ng-model="expense.description">
                        <md-option ng-repeat="value in c.katDapanes[expense.category]" value="{{value}}">{{value}}</md-option>
                    </md-select>
                    <md-input-container ng-if="expense.description=='Άλλο'" class="md-block">
                        <label>Διευκρινίστε</label>
                        <input type="text" ng-model="expense.description_other"  />
                    </md-input-container>
                </md-input-container>
            </td>
            <td>
                <md-input-container class="md-block">
                    <input aria-label="category" ng-model="expense.expensesFirst" type="number" />
                </md-input-container>
            </td>
            <td>
                <md-input-container aria-label="category" class="md-block">
                    <input aria-label="category" ng-model="expense.expensesSecond" type="number" />
                </md-input-container>
            </td>
            <td>
                <md-input-container aria-label="category" class="md-block">
                    <input aria-label="category" ng-model="expense.expensesThird" type="number" />
                </md-input-container>
            </td>
            <td id="table_content" style="text-align:center">
                <md-button class="md-fab md-mini md-primary" ng-click="c.remove(c.data.expenses,$index)">
                    <i style="display:block;text-align:center" class="material-icons">remove</i>
                </md-button>
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <md-button class="md-raised md-primary" ng-click="c.add('expenses')">
                    Προσθηκη Νεου
                </md-button>
            </td>
        </tr>
        <tr id="table_result">
            <th>Σύνολο Εξόδων</th>
            <td></td>
            <td></td>
            <th>{{c.data.sumExpensesFirstYear|number:2}}</th>
            <th>{{c.data.sumExpensesSecondYear|number:2}}</th>
            <th>{{c.data.sumExpensesThirdYear|number:2}}</th>
            <th></th>
        </tr>

    </table>
    <hr />
    <!--Σύνολο Εσόδων Εξόδων-->
    <table class="table">
        <tr id="table_head">
            <th>Σύνολο Εσόδων Εξόδων</th>
            <th></th>
        </tr>
        <tr>
            <th id="table_content">1ο έτος</th>
            <td>{{(c.data.IncomeMinusExpenseFirst = c.data.sumIncomesFirstYear-c.data.sumExpensesFirstYear||0)|number: 2}}</td>
        </tr>
        <tr>
            <th id="table_content">2ο έτος</th>
            <td>{{(c.data.IncomeMinusExpenseSecond = c.data.sumIncomesSecondYear-c.data.sumExpensesSecondYear||0)|number: 2}}</td>
        </tr>
        <tr>
            <th id="table_content">3ο έτος</th>
            <td>{{(c.data.IncomeMinusExpenseThird = c.data.sumIncomesThirdYear-c.data.sumExpensesThirdYear||0)|number: 2}}</td>
        </tr>
        <tr>
            <th id="table_content">Φορολόγηση Κερδών</th>
            <td>
                <md-input-container>
                    <label>Ποσοστό Φορολογίας</label>
                    <md-select style="width:150px;" ng-model="c.data.tax">
                        <md-option ng-repeat="tax in c.taxes" ng-value="tax.percentage">
                            {{tax.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </td>
        </tr>
    </table>
    <table class="table">
        <tr id="table_head">
            <th>Καθαρά Κέρδη</th>
            <th>Πρώτο Έτος</th>
            <th>Δεύτερο Έτος</th>
            <th>Τρίτο Έτος</th>
        </tr>
        <tr id="table_result">
            <td></td>
            <th>{{(c.data.profitFirstYear = c.data.IncomeMinusExpenseFirst-c.data.IncomeMinusExpenseFirst*c.data.tax||'Ελλιπή Στοιχεία')|number: 2}}</th>
            <th>{{(c.data.profitSecondYear = c.data.IncomeMinusExpenseSecond-c.data.IncomeMinusExpenseSecond*c.data.tax||'Ελλιπή Στοιχεία')|number: 2}}</th>
            <th>{{(c.data.profitThirdYear = c.data.IncomeMinusExpenseThird-c.data.IncomeMinusExpenseThird*c.data.tax||'Ελλιπή Στοιχεία')|number: 2}}</th>
        </tr>
    </table>
</div>