<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../Content/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../Content/textAngular.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body ng-app="app" ng-controller="controller as c" layout="row">
    <aside>
        <div style="height:100%">
            <ng-include src="'contents.html'"></ng-include>
        </div>
    </aside>

    <main layout="column" tabindex="-1" role="main" flex="" class="main">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-click="c.toggleLeft()" class="md-icon-button contentbtn" aria-label="Settings" hide-gt-md>
                    <i style="display:block;text-align:center" class="material-icons">menu</i>
                </md-button>
                <h2 hide-gt-md>Περιεχομενα</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-content class="views" ng-repeat="s in c.sections" ng-if="s.id == c.activeSection">
            <ng-include src="'/html/'+s.src"></ng-include>
        </md-content>
    </main>

    <!--Scripts-->
    <div>
        <!--Dependencies-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/el.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-aria.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.1.0/angular-moment.min.js"></script>
        <script src="../js/Chart.min.js"></script>
        <script src="../js/angular-chart.js"></script>
        <script src="../Scripts/textAngular-rangy.min.js"></script>
        <script src="../Scripts/textAngular-sanitize.min.js"></script>
        <script src="../Scripts/textAngular.min.js"></script>
        <!--Controllers and Factories-->
        <script src="../js/controller.js"></script>
    </div>
</body>
</html>