<div>
    <h2>ΕΠΙΧΕΙΡΗΜΑΤΙΚΟ ΣΧΕΔΙΟ - BUSINESS PLAN</h2>
    <hr />
    <!--<pre>{{c.data|json}}</pre>-->
    <img ng-src="{{c.data.company.logo}}" alt="preview logo" style="display:block;margin:auto;max-height:250px; max-width:250px" /><br />
    <table style="width:70%;margin:auto" class="table">
        <thead style="background-color:#3949AB;color:#D3D6EC;">
            <tr>
                <th>Στοιχεία Επιχείρησης</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>Επωνυμία:</td>
                <td>{{c.data.company.name}}</td>
            </tr>
            <tr>
                <td>Διακριτικός Τίτλος:</td>
                <td>{{c.data.company.title}}</td>
            </tr>
            <tr>
                <td>Διεύθυνση:</td>
                <td>
                    {{c.data.company.Adress}}, {{c.data.company.Location}}, {{c.data.company.PostalCode}}
                </td>
            </tr>
            <tr>
                <td>Ημερομηνία Σύνταξης:</td>
                <td>
                    <md-input-container class="md-block">
                        <label>Ημερομηνία Σύνταξης</label>
                        <md-datepicker ng-model="c.data.createDate"
                                       md-current-view="year">
                        </md-datepicker>
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td>Λογότυπο Επιχείρησης:</td>
                <td>
                    <md-button class="md-raised md-primary" ng-click="c.uploadImage()">Επιλογη Αρχειου</md-button>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead style="background-color:#3949AB;color:#D3D6EC;">
            <tr>
                <th>Εμπιστευτικό:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <md-input-container class="md-block">
                        <label>Εισαγωγή</label>
                        <textarea ng-model="c.data.disclaimer" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </td>
            </tr>
        </tbody>
    </table>
</div>