<div>
    <h2>Κ.Α.Δ. – ΔΡΑΣΤΗΡΙΟΤΗΤΩΝ ΤΗΣ ΕΠΙΧΕΙΡΗΣΗΣ</h2>
    <hr />
    <table class="table">
        <thead>
            <tr id="table_head">
                <th>ΚΑΔ</th>
                <th>Περιγραφή δραστηριότητας</th>
                <th>Αναζήτηση</th>
                <th>Κύριος ΚΑΔ</th>
                <th>Ημερομηνία</th>
                <th>Αφαίρεση</th>
            </tr>
        </thead>
        <tr ng-repeat="kad in c.data.kads">
            <th id="table_result">
                {{kad.id}}
            </th>
            <td id="table_content">{{kad.title|limitTo:100}}<span ng-if="kad.title.length>0">...</span> </td>
            <td>
                <div style="position:relative">
                    <md-input-container class="md-block">
                        <label>Αναζήτηση</label>
                        <input ng-model="c['temp'+$index].searchInput" ng-keyup="c.onSearchKad(c['temp'+$index].searchInput,$index)">
                    </md-input-container>
                    <div class="search" ng-if="c.tempIndex==$index&&c.kaad&&c.kaad.length">
                        <div layout="row" style="padding:1px 5px;{{$last?'':'border-bottom:0.5px dotted #808080'}}" ng-repeat="k in c.kaad" ng-click="c.selectKad(k,kad)">
                            <span flex="20"><strong>{{k.id}}:</strong></span>
                            <span flex="80">{{k.title}}</span>
                            
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <md-input-container class="md-block">
                    <label>Επιλογή</label>
                    <md-select ng-model="kad.isPrimary">
                        <md-option value="yes">
                            Ναι
                        </md-option>
                        <md-option value="no">
                            Όχι
                        </md-option>
                    </md-select>
                </md-input-container>
            </td>
            <td>
                <md-input-container class="md-block">
                    <label>Ημερομηνία Σύνταξης</label>
                    <md-datepicker ng-model="kad.date"
                                   md-current-view="year">
                    </md-datepicker>
                </md-input-container>
            </td>
            <td id="table_content">
                <md-button class="md-fab md-mini md-primary" ng-click="c.remove(c.data.kads,$index)"><i style="display:block;text-align:center" class="material-icons">remove</i></md-button>
            </td>
        </tr>
        <tr>
            <td colspan="6"><md-button class="md-fab md-mini md-primary" ng-click="c.add('kads')"><i style="display:block;text-align:center" class="material-icons">add</i></md-button></td>
        </tr>
    </table>

</div>
