<h2>ΣΧΕΔΙΑΖΟΜΕΝΕΣ ΕΝΕΡΓΕΙΕΣ ΔΙΑΦΗΜΙΣΗΣ ΚΑΙ MARKETING</h2>
<hr />
<h3 style="text-align:center">
    Α. Πλάνο ενεργειών Marketing – Marketing Plan
    <md-button class="md-icon-button contentbtn" ng-click="c.showAlert(6)">
        <i style="display:block;text-align:center" class="material-icons">help</i>
    </md-button>
</h3>
<md-input-container class="md-block">
    <label>Πληκτρολογήστε το κείμενό σας</label>
    <textarea ng-model="c.data.marketing.marketingPlanAnalysis" rows="5" md-select-on-focus></textarea>
</md-input-container>
<h3 style="text-align:center">B. Τοποθέτηση – Positioning
    <md-button class="md-icon-button contentbtn" ng-click="c.showAlert(7)">
        <i style="display:block;text-align:center" class="material-icons">help</i>
    </md-button>
    </h3>
<md-input-container class="md-block">
    <label>Πληκτρολογήστε το κείμενό σας</label>
    <textarea ng-model="c.data.marketing.positioningAnalysis" rows="5" md-select-on-focus></textarea>
</md-input-container>
<h3 style="text-align:center">Γ. Διανομή
    <md-button class="md-icon-button contentbtn" ng-click="c.showAlert(8)">
        <i style="display:block;text-align:center" class="material-icons">help</i>
    </md-button></h3>
<md-input-container class="md-block">
    <label>Πληκτρολογήστε το κείμενό σας</label>
    <textarea ng-model="c.data.marketing.promotionAnalysis" rows="5" md-select-on-focus></textarea>
</md-input-container>
<h2>ΠΡΟΓΡΑΜΜΑΤΙΣΜΕΝΕΣ ΕΠΕΝΔΥΣΕΙΣ / ΔΑΠΑΝΕΣ ΤΗΣ ΕΠΙΧΕΙΡΗΣΗΣ ΠΟΥ ΣΧΕΤΙΖΟΝΤΑΙ ΜΕ ΤΟΥΣ ΣΤΟΧΟΥΣ ΚΑΙ ΤΟΝ ΑΝΑΠΤΥΞΙΑΚΟ ΣΧΕΔΙΑΣΜΟ ΤΗΣ
    <md-button class="md-icon-button contentbtn" ng-click="c.showAlert(9)">
        <i style="display:block;text-align:center" class="material-icons">help</i>
    </md-button>
    </h2>
<md-input-container class="md-block">
    <label>Πληκτρολογήστε το κείμενό σας</label>
    <textarea ng-model="c.data.marketing.investmentAnalysis" rows="5" md-select-on-focus></textarea>
</md-input-container>
<h2>ΚΑΙΝΟΤΟΜΙΕΣ ΠΟΥ ΔΙΑΘΕΤΕΙ Η ΕΠΙΧΕΙΡΗΣΗ
    <md-button class="md-icon-button contentbtn" ng-click="c.showAlert(10)">
        <i style="display:block;text-align:center" class="material-icons">help</i>
    </md-button>
    </h2>
<md-input-container class="md-block">
    <label>Πληκτρολογήστε το κείμενό σας</label>
    <textarea ng-model="c.data.marketing.innovationAnalysis" rows="5" md-select-on-focus></textarea>
</md-input-container>
<h2>ΠΡΑΣΙΝΕΣ ΔΙΑΔΙΚΑΣΙΕΣ ΚΑΙ ΠΟΛΙΤΙΚΕΣ ΠΟΥ ΕΧΟΥΝ ΤΥΧΟΝ ΥΙΟΘΕΤΗΘΕΙ Η ΠΡΟΚΕΙΤΑΙ ΝΑ ΥΙΟΘΕΤΗΘΟΥΝ</h2>
<md-input-container class="md-block">
    <label>Πληκτρολογήστε το κείμενό σας</label>
    <textarea ng-model="c.data.marketing.greenAnalysis" rows="5" md-select-on-focus></textarea>
</md-input-container>
<h2>ΥΠΟΔΟΜΕΣ – ΕΞΟΠΛΙΣΜΟΣ ΠΟΥ ΕΞΑΣΦΑΛΙΖΕΙ ΤΗΝ ΠΡΟΣΒΑΣΙΜΟΤΗΤΑ ΤΩΝ ΑΜΕΑ. 
    <md-button class="md-icon-button contentbtn" ng-click="c.showAlert(11)">
        <i style="display:block;text-align:center" class="material-icons">help</i>
    </md-button>
    </h2>
<md-input-container class="md-block">
    <label>Πληκτρολογήστε το κείμενό σας</label>
    <textarea ng-model="c.data.marketing.equipmentAnalysis" rows="5" md-select-on-focus></textarea>
</md-input-container>
