<div>
    <!--ΣΤΟΙΧΕΙΑ ΕΤΑΙΡΩΝ/ΜΕΤΟΧΩΝ-->
    <h2>Στοιχεια Εταιρων/Μετοχων</h2>
    <hr>
    <!--<p class="sticky" style="{{c.total>=90?'color:red;':'color:#D3D6EC'}}">Σύνολο Μετόχων: <strong>{{c.getTotal()}}%</strong></p>-->
    <div ng-repeat="partner in c.data.partners">
        <table class="table">
            <thead style="background-color:#EDEDED">
                <tr id="table_head">
                    <th>ΠΟΣΟΣΤΟ (%)&nbsp;<span style="">Σύνολο Μετόχων: <strong>{{c.getTotal()}}%</strong></span></th>
                    <th>
                        <span style="vertical-align:middle">ΟΝΟΜΑΤΕΠΩΝΥΜΟ Ή ΕΠΩΝΥΜΙΑ</span><md-button style="float:right" class="md-raised" ng-click="c.remove(c.data.partners,$index)">Αφαιρεση</md-button>
                    </th>
                </tr>
            </thead>
            <tr>
                <td>
                    <md-input-container class="md-block">
                        <label>Εισαγωγή</label>
                        <input type="number" ng-model="partner.percentage">
                    </md-input-container>
                <td>
                    <md-input-container class="md-block">
                        <label>Εισαγωγή</label>
                        <input ng-model="partner.name">
                    </md-input-container>
            </tr>
            <tr>
                <th style="background-color:#EDEDED">ΕΙΔΟΣ ΠΡΟΣΩΠΟΥ</th>
                <td>
                    <md-input-container class="md-block">
                        <label>Επιλογή</label>
                        <md-select ng-model="partner.type">
                            <md-option ng-repeat="p in c.partnerType" value="{{p}}">
                                {{p}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td style="background-color:#EDEDED"><strong>ΜΕΤΟΧΟΣ ΕΚΤΟΣ ΕΛΛΑΔΟΣ</strong></td>
                <td>
                    <md-input-container class="md-block">
                        <label>Ναι/Όχι</label>
                        <md-select ng-model="partner.isAbroad">
                            <md-option value="yes">
                                Ναι
                            </md-option>
                            <md-option value="no">
                                Όχι
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td style="background-color:#EDEDED"><strong>Α.Φ.Μ. / V.A.T. (ΕΚΤΟΣ ΕΛΛΑΔΟΣ)</strong></td>
                <td>
                    <md-input-container class="md-block">
                        <label>Εισαγωγή</label>
                        <input ng-model="partner.afmVat">
                    </md-input-container>
            </tr>
            <tr>
                <td style="background-color:#EDEDED"><strong>Δ.Ο.Υ</strong></td>
                <td>
                    <md-input-container class="md-block">
                        <label>Επιλογή από Λίστα ΔΟΥ</label>
                        <md-select ng-model="partner.doy">
                            <md-option ng-repeat="d in c.doy" value="{{d}}">
                                {{d}}
                            </md-option>
                        </md-select>
                    </md-input-container>
            </tr>
            <tr>
                <td style="background-color:#EDEDED"><strong>e-mail</strong></td>
                <td>
                    <md-input-container class="md-block">
                        <label>Εισαγωγή</label>
                        <input ng-model="partner.email">
                    </md-input-container>
            </tr>
            <tr ng-show="partner.type=='ΝΟΜΙΚΟ ΠΡΟΣΩΠΟ'">
                <td style="background-color:#EDEDED"><strong>Α.Φ.Μ. ΝΟΜΙΜΟΥ ΕΚΠΡΟΣΩΠΟΥ</strong></td>
                <td>
                    <md-input-container class="md-block">
                        <label>Εισαγωγή</label>
                        <input ng-model="partner.afm">
                    </md-input-container>
                </td>
            </tr>
            <tr ng-show="partner.type=='ΦΥΣΙΚΟ ΠΡΟΣΩΠΟ'">
                <td style="background-color:#EDEDED"><strong>ΘΕΣΗ ΕΤΑΙΡΟΥ/ΜΕΤΟΧΟΥ ΣΤΟΝ ΦΟΡΕΑ</strong></td>
                <td>
                    <md-input-container class="md-block">
                        <label>Εισαγωγή</label>
                        <input ng-model="partner.position">
                    </md-input-container>
            </tr>
            <tr>
                <th style="background-color:#EDEDED">Ο ΦΟΡΕΑΣ ΣΥΜΜΕΤΕΧΕΙ ΣΕ ΑΛΛΕΣ ΕΠΙΧΕΙΡΗΣΕΙΣ;</th>
                <td>
                    <md-input-container class="md-block">
                        <label>Ναι/Όχι</label>
                        <md-select ng-model="partner.isMemberOtherCompanies">
                            <md-option value="yes">
                                Ναι
                            </md-option>
                            <md-option value="no">
                                Όχι
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
            </tr>
        </table>
        <table class="table" style="max-width:80%; margin: auto;" ng-show="partner.isMemberOtherCompanies=='yes'">
            <thead id="table_head">
                <tr>
                    <th>ΠΟΣΟΣΤΟ ΣΥΜΜΕΤΟΧΗΣ ΜΕΤΟΧΟΥ ΣΕ ΑΛΛΕΣ ΕΠΙΧΕΙΡΗΣΕΙΣ</th>
                    <th>ΟΝΟΜΑΤΕΠΩΝΥΜΟ Ή ΕΠΩΝΥΜΙΑ</th>
                </tr>
            </thead>
            <tr>
                <td>
                    <md-input-container class="md-block">
                        <label>Εισαγωγή</label>
                        <input ng-model="partner.otherCompany.percentage">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container class="md-block">
                        <label>Εισαγωγή</label>
                        <input ng-model="partner.otherCompany.nameOrTitle">
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <th style="background-color:#EDEDED">ΕΙΔΟΣ ΠΡΟΣΩΠΟΥ</th>
                <td>
                    <md-input-container class="md-block">
                        <label>Επιλογή από Λίστα</label>
                        <md-select ng-model="partner.otherCompany.typeOfPerson">
                            <md-option ng-repeat="p in c.partnerType" value="{{p}}">
                                {{p}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td style="background-color:#EDEDED"><strong>ΧΩΡΑ ΕΓΚΑΤΑΣΤΑΣΗΣ/ΔΙΑΜΟΝΗΣ</strong></td>
                <td>
                    <md-input-container class="md-block">
                        <label>Εισαγωγή</label>
                        <input ng-model="partner.otherCompany.Country">
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td rowspan="3" style="background-color:#EDEDED"><strong>ΔΙΕΥΘΥΝΣΗ ΕΔΡΑΣ</strong></td>
                <td>
                    <md-input-container class="md-block">
                        <label>ΟΔΟΣ - ΑΡΙΘΜΟΣ</label>
                        <input ng-model="partner.otherCompany.address">
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td>
                    <md-input-container class="md-block">
                        <label>ΠΟΛΗ</label>
                        <input ng-model="partner.otherCompany.city">
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td>
                    <md-input-container class="md-block">
                        <label>ΤΑΧ. ΚΩΔΙΚΑΣ</label>
                        <input ng-model="partner.otherCompany.postalCode">
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td style="background-color:#EDEDED"><strong>ΤΗΛΕΦΩΝΟ ΕΠΙΚΟΙΝΩΝΙΑΣ</strong></td>
                <td>
                    <md-input-container class="md-block">
                        <label>Εισαγωγή</label>
                        <input ng-model="partner.otherCompany.phone">
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td style="background-color:#EDEDED"><strong>FAX</strong></td>
                <td>
                    <md-input-container class="md-block">
                        <label>Εισαγωγή</label>
                        <input ng-model="partner.otherCompany.fax">
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td style="background-color:#EDEDED"><strong>e-mail</strong></td>
                <td>
                    <md-input-container class="md-block">
                        <label>Εισαγωγή</label>
                        <input ng-model="partner.otherCompany.email">
                    </md-input-container>
                </td>
            </tr>
        </table>
        <hr />
        <br />
    </div>
    <table class="table" style="margin:auto">
        <tr>
            <td id="table_head">Συμμετέχει ο φορέας σε άλλες επιχειρήσεις;</td>
            <td style="background-color:#EDEDED">
                <md-input-container class="md-block">
                    <label>Ναι/Όχι</label>
                    <md-select ng-model="c.data.CompanyIsMemberOfOtherCompanies">
                        <md-option value="yes">
                            Ναι
                        </md-option>
                        <md-option value="no">
                            Όχι
                        </md-option>
                    </md-select>
                </md-input-container>
            </td>
        </tr>
    </table>
    <br />
    <table class="table" style="max-width:80%; margin: auto;" ng-show="c.data.CompanyIsMemberOfOtherCompanies=='yes'">
        <thead id="table_head">
            <tr>
                <th>ΠΟΣΟΣΤΟ ΣΥΜΜΕΤΟΧΗΣ ΦΟΡΕΑ ΣΕ ΑΛΛΗ ΕΠΙΧΕΙΡΗΣΗ</th>
                <th>ΕΠΩΝΥΜΙΑ</th>
            </tr>
        </thead>
        <tr>
            <td>
                <md-input-container class="md-block">
                    <label>Εισαγωγή</label>
                    <input ng-model="c.data.CompanyotherCompany.percentage">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="md-block">
                    <label>Εισαγωγή</label>
                    <input ng-model="c.data.CompanyotherCompany.nameOrTitle">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <th style="background-color:#EDEDED">ΕΙΔΟΣ ΠΡΟΣΩΠΟΥ</th>
            <td>
                <md-input-container class="md-block">
                    <label>Επιλογή από Λίστα</label>
                    <md-select ng-model="c.data.CompanyotherCompany.typeOfPerson">
                        <md-option ng-repeat="p in c.partnerType" value="{{p}}">
                            {{p}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td style="background-color:#EDEDED"><strong>ΧΩΡΑ ΕΓΚΑΤΑΣΤΑΣΗΣ/ΔΙΑΜΟΝΗΣ</strong></td>
            <td>
                <md-input-container class="md-block">
                    <label>Εισαγωγή</label>
                    <input ng-model="c.data.CompanyotherCompany.Country">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td rowspan="3" style="background-color:#EDEDED"><strong>ΔΙΕΥΘΥΝΣΗ ΕΔΡΑΣ</strong></td>
            <td>
                <md-input-container class="md-block">
                    <label>ΟΔΟΣ - ΑΡΙΘΜΟΣ</label>
                    <input ng-model="c.data.CompanyotherCompany.address">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class="md-block">
                    <label>ΠΟΛΗ</label>
                    <input ng-model="c.data.CompanyotherCompany.city">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class="md-block">
                    <label>ΤΑΧ. ΚΩΔΙΚΑΣ</label>
                    <input ng-model="c.data.CompanyotherCompany.postalCode">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td style="background-color:#EDEDED"><strong>ΤΗΛΕΦΩΝΟ ΕΠΙΚΟΙΝΩΝΙΑΣ</strong></td>
            <td>
                <md-input-container class="md-block">
                    <label>Εισαγωγή</label>
                    <input ng-model="c.data.CompanyotherCompany.phone">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td style="background-color:#EDEDED"><strong>FAX</strong></td>
            <td>
                <md-input-container class="md-block">
                    <label>Εισαγωγή</label>
                    <input ng-model="c.data.CompanyotherCompany.fax">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td style="background-color:#EDEDED"><strong>e-mail</strong></td>
            <td>
                <md-input-container class="md-block">
                    <label>Εισαγωγή</label>
                    <input ng-model="c.data.CompanyotherCompany.email">
                </md-input-container>
            </td>
        </tr>
    </table>
    <md-button class="md-fab md-mini md-primary" ng-if="c.total&lt;100" ng-click="c.add('partners')">
        <i style="display:block;text-align:center" class="material-icons">add</i>
    </md-button>
</div>