@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron {
        background-color: black;
        background: url("https://images.pexels.com/photos/590045/pexels-photo-590045.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb") center center;
        background-repeat: no-repeat;
    }
</style>
<div class="jumbotron">
    <h1>Business Plan</h1>
    <p class="lead">Δημιουργήστε εύκολα και γρήγορα το επιχειρηματικό σχέδιο της υφιστάμενης ή υπό σύσταση επιχείρησής σας.</p>
    <p class="lead">Μετά τη δημιουργία μπορείτε να κατέβάσετε σε μορφή PDF το Business Plan</p>
    @if (User.Identity.IsAuthenticated == false)
    {
        <p>Για να αρχίσετε πρέπει να <span>@Html.ActionLink("συνδεθείτε", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</span></p>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <p><a href="/html/index.html" class="btn btn-primary" target="_blank">Μεταβαση &raquo;</a></p>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Εύκολη Επεξεργασία</h2>
        <p>
            Εφόσον έχετε δημιουργήσει ένα Επιχειρηματικό Σχέδιο μέσω της εφαρμογής μπορείτε κατόπιν
            και οποιαδήποτε στιγμή το επιθυμήσετε και κάνοντας login στην εφαρμογή
            να τροποποιήσετε τα κείμενα ή τα οικονομικά στοιχεία και να παράξετε νεότερες εκδόσεις του.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Υφιστάμενες Επιχειρήσεις</h2>
        <p>
            Μπορείτε να κατεβάσετε και να εξετάσετε τα επισυναπτόμενα πρότυπα επιχειρηματικά σχέδια που βρίσκονται,
            για να πάρετε μια ιδέα σχετικά με το ύφος και τον τρόπο συμπλήρωσης των πεδίων.
        </p>
        <p><a href="~/Content/ifistameni.pdf" class="btn btn-primary" download>Κατεβάστε το πρότυπο</a></p>

    </div>
    <div class="col-md-4">
        <h2>Επιχειρήσεις Υπό Σύσταση</h2>
        <p>
            Μπορείτε να κατεβάσετε και να εξετάσετε τα επισυναπτόμενα πρότυπα επιχειρηματικά σχέδια που βρίσκονται,
            για να πάρετε μια ιδέα σχετικά με το ύφος και τον τρόπο συμπλήρωσης των πεδίων.
        </p>
    </div>
    <p><a href="~/Content/sistasi.pdf" class="btn btn-primary" download>Κατεβάστε το πρότυπο</a></p>

</div>